.about-me-container {
    $content-margin-top: 90px;
    padding-top: 120px;

    .about-me-content {
        background-color: rgba(0, 0, 0, 0.6);
        // **fake
        // background-color: green;
    }

    // part 1
    .me {
        height: 200px;
        position: relative;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .my-image {
            position: absolute;
            right: 50%;
            top: -50%;
            transform: translateX(50%);
            width: 200px;
            height: 200px;

            img {
                border-radius: 50%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }


        }

        .full-name {
            font-size: 40px;
            color: $text-primary-color;
            transition: 2s;
        }
    }


    // part 2
    .about-me {
        margin-top: $content-margin-top;
        background-color: $primary-color;
        color: $text-primary-color ;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        grid-gap: 20px;

        .personal-information {
            display: flex;
            justify-content: center;
            grid-gap: 90px;
            transition: 2s;

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    margin: 20px 0;

                    i {
                        color: $secondary-color;
                        margin-right: 5px;
                    }

                    a {
                        color: $secondary-color;
                    }
                }
            }
        }
    }

    // part 3
    .skill {
        margin-top: $content-margin-top;
        background-color: $primary-color;
        color: $text-primary-color;
        padding: 10px;

        .line {
            margin: 10px 0;
        }


        .tecnical-skill {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            div {
                background: rgba(249, 246, 246, 0.263);
                width: 140px;
                height: 60px;
                padding: 5px;
                margin: 10px 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                grid-gap: 10px;
                transition: 2s;
            }

            img {
                background-color: $white-color;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                transition: 2s;
            }
        }

    }

    // part 4
    .education {
        margin-top: $content-margin-top;
        background-color: $primary-color;
        color: $text-primary-color;
        padding: 10px;
        font-size: 18px;

        .line {
            margin: 10px 0;
        }

        .education-history {
            padding: 15px;

            &>div {
                margin: 20px 0;
            }

            .major {
                color: $secondary-color;
            }

            ul {
                li {
                    list-style: none;
                    padding: 5px 0;

                    i {
                        color: $secondary-color;
                        margin-right: 5px;
                    }
                }
            }
        }

    }
}


@media screen and(max-width: $breakpoint-md) {
    .about-me-container {

        // part 1
        .me {

            .full-name {
                font-size: 30px;
            }
        }

        // part 2
        .about-me {
            .personal-information {
                font-size: 14px;
                grid-gap: 45px;
            }
        }

        // part 3
        .skill {
            .tecnical-skill {
                div {
                    margin: 10px 10px;
                }
            }
        }
    }
}

@media screen and(max-width: $breakpoint-sm) {
    .about-me-container {

        // part 1
        .me {

            .full-name {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        // part 2
        .about-me {
            padding: 2;

            .personal-information {
                width: 100%;
                font-size: 11px;
                grid-gap: 5px;
            }
        }

        // part 3
        .skill {
            .tecnical-skill {
                justify-content: space-around;
                div {
                    width: 120px;
                    height: 50px;
                    // margin: 10px 25px;
                    // padding: 3px;
                    // background: rgba(249, 246, 246, 0.263);
                    // border-radius: 10px;
                    // display: flex;
                    // align-items: center;
                    // grid-gap: 10px;
                }

                img {
                    // background-color: $white-color;
                    // border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
